body {
	margin: 0;
	font-family: Arial;
	font-size: 100%;
}

#login {
	height: 100vh;
	display: grid;
	justify-items: center;
	align-items: center;
}
#loginWrapper {
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	padding: 0 5vw;
}
#loginWrapper * {
	box-sizing: border-box;
}
#loginWrapper input {
	width: 100%;
	padding: 1rem 2rem;
	border: 1px solid #BBB;
	border-radius: 2px;
}
#loginWrapper input + input {
	margin-top: 16px;
}
#loginWrapper input[type="submit"] {
	cursor: pointer;
	margin-top: 32px;
	background-color: #EEE;
	font-weight: bold;
	transition: background-color 0.5s ease;
}
#loginWrapper input[type="submit"]:hover {
	background-color: #CCC;
}



header {
	background-color: #333;
}
#header {
	display: grid;
	grid-template-columns: 1ft auto 1fr;
	grid-template-areas: "logo nav logout";
	justify-items: center;
	align-items: center;
	height: auto;
	width: 960px;
	margin: 0 auto;
}

#logo {
	grid-area: logo;
	justify-self: start;
}
#logo img {
	height: 5vh;
	padding: 16px 0;
}
#nav {
	grid-area: nav;
	align-self: stretch;
	
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: auto;
	justify-items: center;
	align-items: center;
}
#nav a {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 32px;
	text-decoration: none;
	color: white;
	transition: color 0.5s ease;
}
#nav a:hover {
	color: #BED136;
}
#logout {
	grid-area: logout;
	justify-self: end;
	
	padding: 1rem 2rem;
	border: 1px solid #BBB;
	border-radius: 2px;
	background-color: #EEE;
	font-weight: bold;
}




.selectHub {
	cursor: pointer;
	display: inline-block;
	float: left;
	padding: 1rem 2rem;
	border: 1px solid #BBB;
	border-radius: 2px;
	background-color: #EEE;
	font-weight: bold;
	transition: background-color 0.5s ease;
}
.selectHub + .selectHub {
	margin-left: 32px;
}
.selectHub:hover {
	background-color: #BED136;
}
.selectHub:active {
	background-color: #93a327;
}
.selectHub.selected {
	background-color: #BED136;
}
/* .selectHub.selected:hover {
	background-color: #EEE;
} */
.selectHub.selected:active {
	background-color: #CCC;
}