/*
 * LOGIN PAGE STYLES
 */
body#login {
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
}
#loginWrapper {
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	padding: 0 5vw;
}
#loginWrapper * {
	box-sizing: border-box;
}
#loginWrapper #logo img {
	height: auto;
	width: 100%;
	padding: 0;
}
#loginWrapper #title {
	text-align: center;
	margin: 0px 0 64px 0;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 10px;
}
#loginWrapper form {
	margin-top: 16px;
}
#loginWrapper input {
	width: 100%;
	padding: 1rem 2rem;
	border: 1px solid #BBB;
	border-radius: 2px;
}
#loginWrapper input:focus {
	outline: 0;
	border-color: #BED136;
}
#loginWrapper input + input {
	margin-top: 8px;
}
#loginWrapper input[type="submit"] {
	margin-top: 32px;
	background-color: #FFF;
	border: 2px solid #BED136;
	font-size: 1rem;
	color: #BED136;
}
#loginWrapper input[type="submit"]:hover {
	background-color: #BED136;
	border-color: #BED136;
	color: #FFF;
}

.error,
.info {
	text-align: center;
}
.error {
	color: #960000;
}
.info {
	color: #BED136;
}