<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h2>Hubs...</h2>
	<div th:each="hub : ${hubs}">
		<p th:text="${hub.hubName}"</p>
	</div>
	
	<h2>AWS Hubs...</h2>
	<div th:each="awshub : ${awsHubs}">
		<p th:text="${awshub.hubName}"</p>
	</div>
	
	<h2>Query...</h2>
	<div th:each="query : ${queries}">
		<p th:text="${query.queryName}"</p>
	</div>
    
</body>
</html>