<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
<head>
    <head lang="en" th:include="fragments/header :: header">
</head>

<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

	<h2>All Hubs...</h2>
	
	<form th:action="@{/results}" method="post">
		<button type="button" th:each="hub : ${hubs}" th:id="${hub.hubName}" th:value="${hub.hubName}" th:text="${hub.hubName}" class="selectHub"></button>
		
		<input type="hidden" id="hubList" name=hubList value="" />
		
		<input type="submit" name="action" value="Run" />
	</form>
	
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
	
	<script>
	var selected = [];
	
	$("button.selectHub").click(function() {
		
		var hubName = $(this).val();
		selected.push(hubName);
		
		document.getElementById($(this).val()).classList.toggle('selected');
		
		$("#hubList").val(selected);

	});
	
	</script>
    
</body>
</html>